.cop {
  width: 24px;
  height: 24px;
  background: url('aprs-symbols-24-0.png') 0 0;
}

.generic-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -24px 0px;
}

.car-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -312px -24px;
}

.wx-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -336px -72px;
}

.house-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -288px 0px;
}
.human-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -240px -72px;
}
.van-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -120px -120px;
}
.truck-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -240px -96px;
}
.large-plane-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -312px -72px;
}
.large-rv-sprite {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: -72px -24px;
}
.phone {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: 0px -72px;
}
.digi {
  width: 24px;
  height: 24px;
  background: url(aprs-symbols-24-0.png);
  background-position: 0px -48px;
}